.accordion {
	position: relative;
	min-height: 0;
	overflow: hidden;
	width: 100%;
	box-sizing:content-box;
	.pageElement {
		margin-top:0;
		margin-bottom:0;
		overflow: hidden;
	}  
   .text {
	color: $color-gray-md;
	  display: none;
	  background-color: $color-white;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  padding-left: 30px;
	  padding-right: 30px;
	  margin-bottom: 1px;
	  overflow: hidden;
	  position: relative;
	  height: auto;
	  box-sizing:content-box;
	  p {
		font-family: $font-secondary;
		font-weight: 400;
		font-size: 16px;
	   }
   }
   h3 {
    display: flex;
	align-items: center;
	margin-bottom:1px!important;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	&:hover {
		cursor: pointer;
	}
       &:after {
        content:'\f107';
        font-family: 'fontawesome';
        font-size: 24px;
        display: inline-block;
        color: $color-primary;
		transition: transform $transition-standard;

       }
       &.open {
		&:after {
			transform: rotate(180deg);
		}
	   }
       background-color: $color-white;
       span{
           display: inline-block;
           align-items: center;
           color: $color-secondary;
		   font-family: $font-primary;
		   font-weight:	600;
		   font-size: 18px;
		   line-height: 1.6;
		   text-transform: none;
		   flex: 1 1 auto;
    
       }
   }
 }

 .accordion-container {
	 .user_mode &{
		 margin-top: 0!important;
		 margin-bottom: 0!important;
		 .accordion-container-title {
			 display: none;
		 }
	 }
	 .accordion-header {
			display: flex;
			align-items: center;
			margin-bottom:1px!important;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 30px;
			padding-right: 30px;
			&:hover {
				cursor: pointer;
			}
			   &:after {
				content:'\f107';
				font-family: 'fontawesome';
				font-size: 24px;
				display: inline-block;
				color: $color-primary;
				transition: transform $transition-standard;
		
			   }
			   &.open {
				&:after {
					transform: rotate(180deg);
				}
			   }
			   background-color: $color-white;
			   span{
				   display: inline-block;
				   align-items: center;
				   color: $color-secondary;
				   font-family: $font-primary;
				   font-weight:	600;
				   font-size: 18px;
				   line-height: 1.6;
				   text-transform: none;
				   flex: 1 1 auto;
			
			   }
		   }
 }