// # Fonts
// Font-face declarations for all Platform fonts
//
// Font file formats not provided by Google Fonts
// can be found at https://github.com/FontFaceKit/open-sans

// ## Open Sans Regular
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$shared-font-path}/OpenSans-Regular.woff') format('woff');
}


// ## Open Sans Semi Bold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('#{$shared-font-path}/OpenSans-SemiBold.woff') format('woff');
}
*/
