#survey_steps.edit_mode{
  .siteContainer{
    #pageContentContainer{
      #panelOne{
        
      }
      #panelTwo{
        #yieldContent{
          max-width: 1024px;
          margin: 0px;
          padding-bottom: 45px;
        }
      }
    }
  }
}
